.cards-section {
  margin: 0 auto;
  width: 500px;
}

.card {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 25px 0px;
  border-bottom: 1px solid #f55a5a8c;
  position: relative;
}

.card--img_1 {
  transform: rotate(-2deg);
  width: 130px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.card--img_2 {
  transform: rotate(2deg);
  width: 130px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.card--sticky_tape_1 {
  width: 50px;
  position: absolute;
  top: 5%;
  left: -2%;
}

.card--sticky_tape_2 {
  transform: rotate(90deg);
  width: 50px;
  position: absolute;
  top: 5%;
  left: 18%;
}

.card--info {
  margin-left: 25px;
  width: 100%;
}

.card--location {
  display: flex;
  align-items: center;
}

.card--location h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin: 0 20px 0 5px;
}

.card--location a {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.card--location_icon {
  color: #F55A5A;
}

.card--title {
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
  margin: 10px 0 20px 0;
}

.card--date {
  margin-bottom: 10px;
}
