.album--holiday {
  height: 370px;
  margin: 20px;
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  /* background-color: #d7d7d7;
  border: 2px solid #F55A5A; */
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 1px 1px 8px rgba(126, 126, 126, 0.2); */
}

.album--title {
  margin: 20px;
}

.album--image {
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.border {
  border-right: 2px solid #F55A5A;
  height: 85%;
}

.album--name {
  font-size: 40px;
}

.album--link {
  text-decoration: none;
  color: #918E9B;
}

.album--location {
  font-size: 16px;
}

.album--description {
  display: flex;
  margin: 20px;
  line-height: 40px;
  font-size: 20px;
  text-align: justify;
  background-position-y: 80%;
  background-size: contain;
  background-repeat: no-repeat;
}

.album--pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
